/*

Define custom properties here.

*/

:root{
    --primary-bg-color: rgb(243, 243, 243);
    --secondary-bg-color: rgb(224, 224, 224);
    --size-sm: 900px;

    --primary-gap: 10px;
    --primary-item-margin: var(--primary-gap);
    --nav-button-width: 100px;

    --button-text: .75rem;
}