/**** Header ****/
header{
    background-color: var(--secondary-bg-color);
}

header > *{
    margin: var(--primary-item-margin);
}


/**** Main ****/
main{
    background-color: var(--primary-bg-color);
}

main > *{
    margin: var(--primary-item-margin);
}


/**** Nav ****/
nav{
    background-color: var(--primary-bg-color);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--nav-button-width));
    gap: var(--primary-gap);
}

.nav{
    margin: 0;
    padding: 0;
    margin: var(--primary-gap);
}

.nav-item{
    list-style: none;
     
}

.nav-item button{
    width: var(--nav-button-width);
    font-size: var(--button-text);
}

@media(min-width: var(--size-sm)){
    .nav-item{
        padding: 0;
    }
}


/**** Footer ****/
footer{
    background-color: var(--secondary-bg-color);
}

footer > *{
    margin: var(--primary-item-margin);
}