/*

My idea is that only layout stuff will go here. Backgrounds and such will go in elements.css

*/
header{grid-area: header;}
main{grid-area: main;}
nav{grid-area: nav;}
footer{grid-area: footer;}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 
        minmax(10vh, min-content)
        min-content
        auto 
        minmax(10vh, min-content);
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

nav ul{
    display: flex;
    align-content: space-between;
}

@media(min-width: 900px){
    body{
        display: grid;
        grid-template-columns: auto 15em;
        grid-template-rows: 
            minmax(10vh, min-content) 
            auto 
            minmax(10vh, min-content);
        grid-template-areas: 
            "header header"
            "main nav"
            "footer footer";
    }
    nav ul{
        display: block;
    }
}